@page
@model _2._sem_projekt_boglistesystemet.Pages.Shared.LoginModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@*Shared Layout*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BogListe Systemet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_2._sem_projekt_boglistesystemet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>



        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">

            <img src="https://i.postimg.cc/rwPvXddK/BookLogo.jpg" alt="Girl in a jacket" style="width:120px;height:120px;
  border-radius: 5px;
  padding: 4px; margin-left: 1.3%; ">
            <div class="container">


                <a class="navbar-brand bottom-50" style=" font-weight:bold;" asp-area="" asp-page="/Index">BogListeSystemet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        @*Teachers Login Index Page*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Login">Teacher Login</a>
                        </li>

                        @*Koordinator Login Index Page*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Login">Koordinator Login</a>
                        </li>

                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container justify-content-md-center" style="margin-left: 12%">
        <main role="main" class="pb-3">

        </main>
    </div>
    <div class=" height: max; wídth center;">
        <div class="text-center ">
            <br />
            <br />

            <h1 style="align-content:center; font-family:'Franklin Gothic';font-size:xx-large; padding-top:5px; color:red;">Manglende Adgang, Log venligst ind For At Forsætte!</h1>

            <br />
            <br />


        </div>


        <div class="container border bg-light" style="padding: 15px">
            <form method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                @*//UserName*@
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Login.UserName"></label>
                    </div>

                    <div class="col-5">
                        <input type="text" asp-for="Login.UserName" class="form-control" />
                    </div>

                    <span class="text-danger" asp-validation-for="Login.UserName"></span>

                </div>

                @*//PassWord*@

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Login.Password"></label>
                    </div>

                    <div class="col-5">
                        <input type="password" asp-for="Login.Password" class="form-control" />
                    </div>

                    <span class="text-danger" asp-validation-for="Login.Password"></span>

                </div>

                @*//login Button*@

                <div class="form-group row">
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary" value="Login" />
                    </div>

                    <div class="col-5">
                    </div>
                </div>
            </form>



        </div>

        <br />


        <h6 style="font-family:'Times New Roman', Times, serif;color:darkred; margin-left: 12%">Need Help? Click The Button Below To Go TO Support!</h6>
        <br />
        <a href="https://localhost:7135/Support" class="btn btn btn-outline-danger btn-solid" style="margin-left: 12%">Gå Til Support</a>
        <br />


    </div>








    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BogListe Systemet 

            <h6>
                Sociale Medier :

                <a href="https://www.instagram.com/" target="_blank">           Følg Os På Vores BogListe Instagram </a>
                <img height="20 %" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-512.png" />
                //
                <a href="https://www.facebook.com/" target="_blank">            Følg Os På Vores BogListe FaceBook</a>
                <img height="30 %" src="https://nykobingfc.com/wp-content/uploads/2017/02/Facebook-Logo.png" />
            </h6>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>




